# To perform and Analysis of Simple Linear Regression

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
df=pd.read_csv("../data/Salary_Data.csv")

In [7]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [8]:
df.tail()

    YearsExperience  Salary
30             11.2  127345
31             11.5  126756
32             12.3  128765
33             12.9  135675
34             13.5  139465

In [9]:
df.head(30)

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  35 non-null     float64
 1   Salary           35 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 692.0 bytes

In [11]:
df.describe()

       YearsExperience         Salary
count        35.000000      35.000000
mean          6.308571   83945.600000
std           3.618610   32162.673003
min           1.100000   37731.000000
25%           3.450000   57019.000000
50%           5.300000   81363.000000
75%           9.250000  113223.500000
max          13.500000  139465.000000

In [12]:
df.shape

(35, 2)

In [13]:
df.size

70

In [14]:
df.ndim

2

In [15]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [16]:
#Assiging values in X & Y

X=df.drop("YearsExperience", axis=1)
y=df["Salary"]

In [17]:
print(X)

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218
11   55794
12   56957
13   57081
14   61111
15   67938
16   66029
17   83088
18   81363
19   93940
20   91738
21   98273
22  101302
23  113812
24  109431
25  105582
26  116969
27  112635
28  122391
29  121872
30  127345
31  126756
32  128765
33  135675
34  139465

In [18]:
print(y)

0      39343
1      46205
2      37731
3      43525
4      39891
5      56642
6      60150
7      54445
8      64445
9      57189
10     63218
11     55794
12     56957
13     57081
14     61111
15     67938
16     66029
17     83088
18     81363
19     93940
20     91738
21     98273
22    101302
23    113812
24    109431
25    105582
26    116969
27    112635
28    122391
29    121872
30    127345
31    126756
32    128765
33    135675
34    139465
Name: Salary, dtype: int64

In [19]:
#Splitting testdata into X_train,X_test,y_train,y_test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.3,random_state=42)

In [20]:
print(X_train)

    Salary
33  135675
0    39343
4    39891
17   83088
27  112635
5    56642
11   55794
1    46205
2    37731
32  128765
3    43525
30  127345
23  113812
31  126756
10   63218
22  101302
18   81363
25  105582
6    60150
20   91738
34  139465
7    54445
14   61111
28  122391

In [21]:
print(X_test)

    Salary
26  116969
13   57081
24  109431
21   98273
15   67938
29  121872
19   93940
12   56957
8    64445
16   66029
9    57189

In [22]:
print(y_train)

33    135675
0      39343
4      39891
17     83088
27    112635
5      56642
11     55794
1      46205
2      37731
32    128765
3      43525
30    127345
23    113812
31    126756
10     63218
22    101302
18     81363
25    105582
6      60150
20     91738
34    139465
7      54445
14     61111
28    122391
Name: Salary, dtype: int64

In [23]:
print (y_test)

26    116969
13     57081
24    109431
21     98273
15     67938
29    121872
19     93940
12     56957
8      64445
16     66029
9      57189
Name: Salary, dtype: int64

In [24]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [25]:
#Assigning Coefficient (slope) to m
m = lr.coef_

In [26]:
print("Coefficient  :" , m)

Coefficient  : [1.]

In [27]:
#Assigning Y-intercept to a
c = lr.intercept_

In [28]:
print("Intercept : ", c)

Intercept :  -4.3655745685100555e-11